<div *ngIf="viewer" class="panel panel-default">
  <div class="panel-heading">
    <span class="user-heading">ID: {{viewer.person_id}}</span>
    <span class="user-heading user-heading__time">{{getTime(viewer.local_timestamp)}}</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 user-info user-info_gender">
        {{viewer.rolling_expected_values.gender}}
      </div>
      <div *ngIf="viewer.rolling_expected_values.gender == 'male'" class="col-md-3 col-md-offset-3 glyphicon glyphicon-king user-info"></div>
      <div *ngIf="viewer.rolling_expected_values.gender == 'female'" class="col-md-3 col-md-offset-3 glyphicon glyphicon-queen user-info"></div>

    </div>
    <div class="row">
      <div class="col-md-6 user-info">
        <b>{{viewer.rolling_expected_values.age}}</b> years old
      </div>
      <div class="col-md-3 col-md-offset-3 glyphicon glyphicon-hourglass user-info"></div>
    </div>
    <div class="row">
      <div class="col-md-6 user-info">
        Hand up: <b>{{viewer.rolling_expected_values.handUp}}</b>
      </div>

      <div *ngIf="viewer.rolling_expected_values.handUp" class="col-md-3 col-md-offset-3 glyphicon glyphicon-hand-up user-info"></div>
      <div *ngIf="!viewer.rolling_expected_values.handUp" class="col-md-3 col-md-offset-3 glyphicon glyphicon-hand-down user-info"></div>
    </div>

  </div>
</div>
