<table class="table">
  <thead>
  <tr>
    <th>Actions</th>
    <th>Id</th>
    <th>Gender</th>
    <th>Looking</th>
    <th>Age</th>
    <th><span class="label label-danger">x</span></th>
    <th><span class="label label-success">y</span></th>
    <th><span class="label label-primary">z</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of people">
    <td><button class="btn btn-danger" (click)="removePerson(person.person_id)">X</button></td>
    <td><pre>{{person.person_id}}</pre></td>
    <td>{{person.rolling_expected_values && person.rolling_expected_values.gender}}</td>
    <td>{{person.looking_at_screen}}</td>
    <td>{{person.rolling_expected_values && person.rolling_expected_values.age}}</td>
    <td><span class="label label-danger">{{person.coordinates.x}}</span></td>
    <td><span class="label label-success">{{person.coordinates.y}}</span></td>
    <td><span class="label label-primary">{{person.coordinates.z}}</span></td>
  </tr>
  </tbody>
</table>
